body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(0, 171, 163, 0.11);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 10px 5%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.11);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
}

.logo a {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin: 0 20px;
}

.home {
    background-color: rgba(0, 181, 178, 0.429);
    padding: 15px 40px;
    border-radius: 25px;
}

main {
    padding: 0 5% 0 5%;
}

.intro {
    text-align: center;
}

.settings {
    display: flex;
    justify-content: center;
}

#filter {
    height: 22px;
    margin-right: 5px;
}

.pet {
    width: 200px;
    padding: 20px;
    background-color: rgba(0, 181, 178, 0.429);
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 10px;
}

.pet img {
    width: 200px;
}

.btn {
    position: relative;
    left: 20%;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
}